// White
$colorWhiteSnow: rgba(255, 255, 255, 1);
$colorBlackShadow: rgba(0, 0, 0, 0.02);


// Red
$colorRedCherry: rgba(236, 17, 21, 1); 
$colorRedTotemPole: rgba(166, 12, 14, 1);
$colorRedBittersweet: rgba(244, 112, 115, 1); 
$colorRedSweetPink:rgba(247, 160, 161, 1);
$colorRedCosmos: rgba(251, 207, 208, 1);
$colorRedFairPink:rgba(253, 235, 235, 1);
$colorRedWispPink: rgba(254, 246, 246, 1);


// Grey
$colorGreyCharade: rgba(41, 42, 51, 1); 
$colorGreyTuna: rgba(52, 53, 65, 1); 
$colorGreyAbbey:rgba(72, 73, 84, 1);
$colorGreyMid:rgba(93, 93, 103, 1);
$colorGreyJumbo: rgba(133, 134, 141, 1); 
$colorGreyBombay:rgba(174, 174, 179, 1);
$colorGreyIron:rgba(214, 215, 217, 1);
$colorGreyAthens: rgba(247, 247, 247, 1); 
$colorInputBgHover: rgba(229, 229, 229, 1); 



$colorShadow: rgba(52, 53, 65, 0.15);

$colorInputCorrect: rgba(39, 174, 96, 1);
$colorInputActiveBorder: rgba(47, 128, 237, 1);
$colorInputActiveBg: rgba(235, 243, 254, 1);

$colorScreeningCardBoxShadow: rgba(234,234,234,1);










