@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@500;700&family=Roboto:wght@400;700&display=swap");

$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Roboto Mono", monospace;
$fontTitle: "Eczar", serif;