
// breakpoints
@mixin mediumScreen {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin largeScreen {
  @media (min-width: 1440px) {
    @content;
  }
}

// flex mixins
@mixin flexRowCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnCenterCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



// buttons and links
// sizes 
@mixin button{
  @include flexRowCenterCenter;
  font-family: $fontSecondary;
  font-weight: 500;
  line-height: 1.1rem;
  border-radius: 64px;
}

@mixin buttonLarge{
  padding: 19px 40px;
  font-size: 1.1rem;
  width: 224px;
}

@mixin buttonMedium{
  padding: 12px 32px;
  font-size: 1rem;
  width: 114px;
}


// color themes

// red
@mixin buttonAccentFilled{
  background-color: $colorRedCherry;
  color: $colorWhiteSnow;
  border: 2px solid $colorRedCherry;
  &:hover {
    border: 2px solid $colorRedTotemPole;
  }
}

@mixin buttonAccentEmpty{
  background-color: $colorWhiteSnow;
  color: $colorRedCherry;
  border: 2px solid $colorRedCherry;
  &:hover {
    border: 2px solid $colorRedTotemPole;
  }
}

// no border button
@mixin buttonAccentText{
  background-color: $colorWhiteSnow;
  color: $colorRedCherry;
  border: 2px solid $colorWhiteSnow;
  &:hover {
    border: 2px solid $colorRedBittersweet;
  }
}

@mixin buttonLightFilled{
  background-color: $colorRedFairPink;
  color: $colorRedCherry;
  border: 2px solid $colorRedFairPink;
  &:hover {
    border: 2px solid $colorRedSweetPink;
  }
}

@mixin buttonLightEmpty{
  background-color: $colorWhiteSnow;
  color: $colorRedSweetPink;
  border: 2px solid $colorRedSweetPink;
  &:hover {
    border: 2px solid $colorRedCherry;
  }
}

// grey
@mixin buttonDarkFilled{
  background-color: $colorGrayTuna;
  color: $colorWhiteSnow;
  border: 2px solid $colorGreyTuna;
  &:hover {
    border: 2px solid $colorGreyMid;
  }
}

@mixin buttonDarkEmpty{
  background-color: $colorWhiteSnow;
  color: $colorGreyTuna;
  border: 2px solid $colorGreyTuna;
  &:hover {
    border: 2px solid $colorGreyMid;
  }
}