@import "./normalize.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $fontPrimary;
  color: $colorGreyTuna;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $colorGreyTuna;
}

button {
  background-color: $colorWhiteSnow;
  cursor: pointer;
}