@import "./normalize.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $fontPrimary;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}